.component-app {
    position: fixed;
    top:0px;
    bottom:0px;
    width:100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .right-side-container {
        flex-grow: 1;
        position: relative;

        h1 {
            position: absolute;
            top: 0px;
        }
    }
}