.component-search-pane {
    box-sizing: content-box;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;

    .movies-list-controls {
        width: 265px;
        padding: 17px;
        border-bottom: solid 1px #ddd;
        box-sizing: content-box;
    }

    .movies-list-container {
        flex-grow: 1;
        overflow: scroll;
    }
}